<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
</head>
<body>
<h1>注册</h1>

<form method="post" onsubmit="return false">
    <div>
        <label>账号:</label><input name="username" id="username" type="text"/><%= message %>
    </div>
    <div>
        <label>密码:</label><input name="password" id="password" type="text"/>
    </div>
    <div>
        <label>登录:</label><input  type="button" value="注册" id="register"/>
    </div>
</form>
<script type="application/javascript">
$("#register").click(function () {
    var username = $("#username").val();
    var password = $("#password").val();

    $.ajax({
        url:"/register",
        type:"post",
        data:{
            username:username,
            password:password
        },
        success:function (data,status) {
            console.info(status);
            if(status == 'success'){
                location.href = 'login';
            }
        },
        error: function(data,err){
            location.href = 'register';
        }
    });
});
</script>
</body>
</html>